<div class = "menu-container">
    <div class = "container-menu-title">
        <span class = "menu-title"> { } AI </span>
    </div>

    <div class = "container-menu-content">
        <div class = "menu-container-edit-ai">

            <a href = "/editAI">
                <div class = "file">
                    <span class = "name-file">My Super Chess AI</span>
                    <span class = "version-file">1.0.0</span>
                </div>
            </a>

        </div>
    </div>

</div>