<div class = "menu-container">
    <div class = "container-menu-title">
        <span class = "menu-title"> Historic </span>
    </div>

    <div class = "container-menu-content">
        <div class = "menu-container-historic">

            <div class = "historic-container victory-container">
                <img src = "/assets/nav-link/win-logo.png" class = "historic-img">
                <span class = "historic-content">Pentheos vs Cubevayster</span>
            </div>

            <div class = "historic-container defeat-container">
                <img src = "/assets/nav-link/defeat-logo.png" class = "historic-img">
                <span class = "historic-content">Pentheos vs Cubevayster</span>
            </div>

        </div>
    </div>

</div>