<div class = "menu-container">
    <div class = "container-menu-title statistic-container-title">
        <span class = "menu-title"> Statistic </span>
    </div>

    <div class = "container-menu-content">
        <div class = "menu-container-score">
            <div class = "amount-victory">
                <span class = "victory-score">457</span>
                <span class = "type-score">victories</span>
            </div>

            <div class="menu-container-score-separator"></div>

            <div class = "amount-pat">
                <span class="pat-score">12</span>
                <span class = "type-score">pat</span>
            </div>

            <div class="menu-container-score-separator"></div>

            <div class = "amount-defeat">
                <span class="defeat-score">278</span>
                <span class = "type-score">defeats</span>
            </div>
        </div>

        <div class = "statistic-separator"></div>

        <div class = "menu-container-classement">
            <img src = "/assets/icone/ligue/silver.svg" class = "ligue-icon">
            <span class = "ligue-name silver"> Silver Ligue </span>
            <span class = "elo-name"> 789 elo </span>
        </div>

        <div class = "statistic-separator"></div>
    
        <div id = "menu-container-chart"></div>
    </div>

</div>

<link rel="stylesheet" href="/assets/css/statisticContainer.css">