<div id = "header-left">
  <div class = "top-nav-links">
    <a href = "/" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/icone/nav-link/logo.png"/>
      <span class = "nav-link-span" href="/"> ChessAI </span>
    </a>
    
  
    <% if( locals.player && locals.player.nickname != 'guest') { %>
      <a href = "/user/<%= locals.player.nickname %>" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/icone/player/<%= locals.player.icone %>.png" alt="<%= locals.player.icone %>"/>
        <span class = "nav-link-span" href="/"> <%= locals.player.nickname %> </span>
      </a>
    <% }else{ %>
      <a href = "/login" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/icone/nav-link/login.png"/>
        <span class = "nav-link-span" href="/"> Login </span>
      </a>
    <% } %>

    <% if( locals.player && locals.player.nickname != 'guest' ) { %>
      <a href = "/play/competitive" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/icone/nav-link/play-competitive.png"/>
        <span class = "nav-link-span"> Play Competitive </span>
      </a>
    <% } %>

    <a href = "/play/local" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/icone/nav-link/play-local.png"/>
      <span class = "nav-link-span"> Play Local </span>
    </a>
  </div>
  



  <div class = "bottom-nav-links"> 
    <a class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/icone/nav-link/dark-mode.png"/>
      <span class = "nav-link-span"> Light mode </span>
    </a>

    <a id = "reduce-header-left-button" onclick="reduceHeaderLeft()" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/icone/nav-link/reduce-left.png"/>
      <span class = "nav-link-span"> Reduce </span>
    </a>

    <% if( locals.player && locals.player.nickname != 'guest' ) { %>
      <a class = "nav-link-component" href="/disconnect">
        <img class = "nav-sprite" src = "/assets/icone/nav-link/disconnect.png"/>
        <span class = "nav-link-span"> Disconnect </span>
      </a>
    <% } %>
  </div>
</div>