<div id = "header-left">
  <div class = "top-nav-links">
    <a href = "/" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/nav-link/logo.png"/>
      <span class = "nav-link-span" href="/"> ChessAI </span>
    </a>
    
  
    <% if( locals.nickname) { %>
      <a href = "/user/<%= nickname %>" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/nav-link/account.png"/>
        <span class = "nav-link-span" href="/"> <%= nickname %> </span>
      </a>
    <% }else{ %>
      <a href = "/login" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/nav-link/login.png"/>
        <span class = "nav-link-span" href="/"> Login </span>
      </a>
    <% } %>
  </div>
  
  <div class = "bottom-nav-links"> 
    <a href = "/" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/nav-link/dark-mode.png"/>
      <span class = "nav-link-span" href="/"> Light mode </span>
    </a>

    <a href = "/" class = "nav-link-component">
      <img class = "nav-sprite" src = "/assets/nav-link/reduce-left.png"/>
      <span class = "nav-link-span" href="/"> Reduce </span>
    </a>

    <% if( locals.nickname) { %>
      <a href = "/" class = "nav-link-component">
        <img class = "nav-sprite" src = "/assets/nav-link/disconnect.png"/>
        <span class = "nav-link-span" href="/"> Disconnect </span>
      </a>
    <% } %>
  </div>
</div>