<div id="header-right">
    <div class = "retractable-header-container" id = "notifications-header-container">

        <div class = "container-header-title">
            <img class = "image-container" src = "/assets/nav-link/notif.png"/>
            <span class = "title-header">Notifications</span>
            <img onclick = "reduceRightHeader('notifications-header-container');" class = "reduce-container" src = "/assets/nav-link/reduce-right.png"/>
        </div>

        <div class = "container-header-content">
            <div class = "notification">
                <img class = "image-notification" src = "/assets/nav-link/versus.png"/>
                <div class = "content-notification">
                    <span class = "notification-info">An ennemie(name ennemie) engaged you</span>
                    <span class = "notification-date">2 days ago</span>
                </div>
            </div>

            <div class = "notification">
                <img class = "image-notification" src = "/assets/nav-link/versus.png"/>
                <div class = "content-notification">
                    <span class = "notification-info">An ennemie(name ennemie) engaged you</span>
                    <span class = "notification-date">2 days ago</span>
                </div>
            </div>

            <div class = "notification">
                <img class = "image-notification" src = "/assets/nav-link/versus.png"/>
                <div class = "content-notification">
                    <span class = "notification-info">An ennemie(name ennemie) engaged you</span>
                    <span class = "notification-date">2 days ago</span>
                </div>
            </div>

            <div class = "notification">
                <img class = "image-notification" src = "/assets/nav-link/versus.png"/>
                <div class = "content-notification">
                    <span class = "notification-info">An ennemie(name ennemie) engaged you</span>
                    <span class = "notification-date">2 days ago</span>
                </div>
            </div>

        </div>
        
    </div> 

    <div class = "retractable-header-container" id = "friends-header-container">

        <div class = "container-header-title"> 
            <img class = "image-container" src = "/assets/nav-link/friends.png"/>
            <span class = "title-header">Friends</span>
            <img onclick = "reduceRightHeader('friends-header-container');" class = "reduce-container" src = "/assets/nav-link/reduce-right.png"/>
        </div>

        <div class = "container-header-content">

            <div class = "friend">
                <img class = "image-friend" src = "/assets/temporary/account.png"/>
                <span class = "friend-name">Pentheos</span>
                <div class = "friend-action">
                    <img class = "image-versus" src = "/assets/nav-link/versus.png"/>
                    <img class = "image-chat" src = "/assets/nav-link/chat.png"/>
                </div>
            </div>

            <div class = "friend">
                <img class = "image-friend" src = "/assets/temporary/account.png"/>
                <span class = "friend-name">Pentheos</span>
                <div class = "friend-action">
                    <img class = "image-versus" src = "/assets/nav-link/versus.png"/>
                    <img class = "image-chat" src = "/assets/nav-link/chat.png"/>
                </div>
            </div>

            <div class = "friend">
                <img class = "image-friend" src = "/assets/temporary/account.png"/>
                <span class = "friend-name">Pentheos</span>
                <div class = "friend-action">
                    <img class = "image-versus" src = "/assets/nav-link/versus.png"/>
                    <img class = "image-chat" src = "/assets/nav-link/chat.png"/>
                </div>
            </div>

            <div class = "friend">
                <img class = "image-friend" src = "/assets/temporary/account.png"/>
                <span class = "friend-name">Pentheos</span>
                <div class = "friend-action">
                    <img class = "image-versus" src = "/assets/nav-link/versus.png"/>
                    <img class = "image-chat" src = "/assets/nav-link/chat.png"/>
                </div>
            </div>
        </div>      
    </div> 
</div>