.edit-code-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 84%;
    background-color: #8b7f7f63;

    position: absolute;
}

.header-code-container{
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    width: 100%;
    height: 10%;

    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;

    overflow: hidden;
}

.editor-code-container-title{
    height: 8%;
    width: 25%;

    background-color: rgb(14, 165, 14);

    border: 1px solid #000000;
    display: flex;
    align-items: center;

    border-top-left-radius: 5px;

    -webkit-clip-path: polygon(0 1%, 72% 0, 88% 100%, 0 100%);
    clip-path: polygon(0 1%, 72% 0, 88% 100%, 0 100%);

    position: absolute;

    margin-top: 10px;
}   

.editor-code-title{
    color : white;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    margin-left: 10px;

    font-weight: bold;

    width: 100%;
}

.editor-code-button{
    height: 8%;
    width: 25%;

    color : white;
    background-color: rgb(39, 35, 35);

    border: 1px solid #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-clip-path: polygon(0 1%, 80% 0%, 100% 100%, 16% 100%);
    clip-path: polygon(0 1%, 80% 0%, 100% 100%, 16% 100%);

    position: absolute;
    left: 20%;

    margin-top: 10px;
}

.editor-code-button:hover{
    background-color: rgb(8, 92, 8);
    cursor: pointer;
}

.editor-code-button.right{
    border-top-right-radius: 5px;

    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);

    left: 41%;
}

.editor-code-menu-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 99%;

    margin-bottom: 10px;
    overflow: hidden;
}

.code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #f0e9e9f8;

    border-left: 1px solid #0f0e0e91;
}

.editor-code-button-image{
    width: 15%;

    margin: 10px;

    aspect-ratio: 1;
}

.CodeMirror {
    height: 100%;
    width: 100%;

    font-family: 'Arial', monospace;
    font-style: italic;
    font-size: 1.1em;

    background-color: #f3eded;

    text-align: left;
    margin-right: 10px;
}

.cm-matchhighlight {
    border : 1px solid #0f0e0e91;
}

/* files container*/

.files-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #dbd3d3f8;

    margin-left: 10px;

    border-left: 1px solid #000000;
    overflow : scroll;
}

.folder-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;

    margin-bottom: 10px;
}

.file-code{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;

    margin-bottom: 10px;
}

.file-code:hover{
    background-color: #b1a5a5f8;
    cursor: pointer;
}

.file-code.active{
    background-color: #b1a5a5f8 ! important;
}

.folder-code.active > .folder-code-content{
    background-color: #b1a5a5f8;
    cursor: pointer;
}

.folder-code:hover > .folder-code-content{
    background-color: #b1a5a5f8;
    cursor: pointer;
}

.folder-code-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.folder-code-image{
    width: 20px;
    margin: 10px;

    aspect-ratio: 1;
}

.file-code-image{
    width: 20px;
    margin: 10px;

    aspect-ratio: 1;
}

.folder-code-name, .file-code-name{
    color : black;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

.file-code-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.open{
    display: flex !important;
}

.closed{
    display: none !important;
}

/* ============== CONTEXT MENU RIGHT-CLICK  ======================= */

#context-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 200px;
    height: fit-content;
    z-index: 1000;

    background-color: #110f0fd2;
    border: 1px solid #0f0e0e91;
    border-radius: 5px;

    position: absolute;

    overflow: hidden;
}

.item-context-menu{
    color : white;
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid #3a3636d2;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
}

.item-context-menu:hover{
    background-color: rgba(80, 74, 74, 0.973);
    cursor: pointer;
}

.item-context-image{
    width: 15%;

    aspect-ratio: 1;

    margin-top: 5px;
    margin-bottom: 5px;

    margin-left: 10px;
    margin-right: 10px;
}

/* ============== OPTION TEST PARAMETERS  ======================= */

.test-parameters-popup{
    position: absolute;

    left: 40%;
    top: 30%;

    background-color: #d6d5d5dc;
    color: black;

    z-index: 3;

    width: 20%;
    height: 40%;

    min-width: fit-content;
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-popup{
    color: green;
    font-size: 2em;
    font-weight: bold;

    padding: 2px;

    margin-bottom: 5px;
    margin-top: 5px;
}

.test-parameters-titles{
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 100%;
    border-bottom: solid black 1px;

    margin: 5px;
}

.test-parameters-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    height : 100%;
}

.title-parameter{
    padding: 3px;
    border: solid black 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -1px;
}

.selectedTitle{
    background-color: #c5bcbc;
}

.title-content{
    font-size: 1.5em;

    margin-bottom: 10px;
}

.content-parameter{
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);

    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}