<div id = "context-menu" class="closed">
  <div onclick = "addFolder()" class = "item-context-menu">
    <img class = "item-context-image" src = "/assets/icone/context-menu/add-folder.png"/>
    <span>new Folder</span>
  </div>
  <div onclick = "addFile()" class = "item-context-menu">
    <img class = "item-context-image" src = "/assets/icone/context-menu/add-file.png"/>
    <span>new File</span>
  </div>
  <div onclick = "rename()" class = "item-context-menu">
    <img class = "item-context-image" src = "/assets/icone/context-menu/rename.png"/>
    <span>Rename</span>
  </div>
  <div onclick = "remove()" class = "item-context-menu">
    <img class = "item-context-image" src = "/assets/icone/context-menu/delete.png"/>
    <span>Delete</span>
  </div>
</div>