<div class = "test-parameters-popup">

    <div class = "test-parameters-titles">
        <div class = "title-parameter selectedTitle" id = "PlayerOptionTitle">
            <span>Player vs Your AI</span>
        </div>

        <div class = "title-parameter" id = "AIOptionTitle">
            <span>Standard AI vs Your AI</span>
        </div>
    </div>

    <div class = "test-parameters-content">
        <div class = "test-parameters-contents selected" id = "PlayerOptionContent">
            <div class = "content-parameter" id = "whiteOption">
                <span>White</span>
            </div>
            <div class = "content-parameter" id = "blackOption">
                <span>Black</span>
            </div>
        </div>
    </div>
</div>