<div class = "test-parameters-popup">
    <span class = "title-popup">Test parameters</span>

    <div class = "test-parameters-titles">
        <div class = "title-parameter selectedTitle" id = "PlayerOptionTitle">
            <span>Player vs Your AI</span>
        </div>

        <div class = "title-parameter" id = "AIOptionTitle">
            <span>Standard AI vs Your AI</span>
        </div>
    </div>

    <div class = "test-parameters-content">
        <span class = "title-content">Choose the color of Your AI</span>

        <div class = "test-parameters-contents selected" id = "PlayerOptionContent">
            <div class = "content-parameter">
                <span>White</span>
            </div>
            <div class = "content-parameter">
                <span>Black</span>
            </div>
        </div>
    </div>
</div>