<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script src="/js/index.js"></script>
  <script src="/js/utils.js"></script>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <h1>Make your own chess ai</h1>

    <a href="/play" onclick="setTypeGame('local')" class="button">
      Play locally
    </a>

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>