<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <link rel="stylesheet" href="/css/jsuites.css" type="text/css" />
</head>

<body>

  <header>
    <%- include('../partials/headerLeft'); %>
  </header>

  <main>
    <div class = "login-container">

        <div class = "login-title-container">
            <span id = "signin-selector" class = "login-title selected-selector" onclick = "toggleSign('signin-selector')" >Sign in</span>
            <span id = "signup-selector" class = "login-title" onclick = "toggleSign('signup-selector')">Sign up</span>
        </div>

        <form autocomplete="off" method = "post" action="/api/login" id = "signin-container" class = "selected-container">
            <span class = "login-subtitle">Welcome back to Chess AI</span>

            <div class = "login-form-container">
                <input id = "id-login" class = "login-input" type="text" name="id" placeholder="Email or nickname">
                <input id = "password-login" class = "login-input" type="password" name="password" placeholder="Password">

                <button class = "confirm-sign">Login</button>
            </div>
        </form>

        <form method = "post"  action = "/api/register" id = "signup-container">
            <span class = "login-subtitle">Enjoy the Chess AI experience</span>

            <div class = "login-form-container">
                <input class = "login-input" type="text" id="email" placeholder="Email">
                <input class = "login-input" type="text" id="nickname" placeholder="Nickname">

                <div id="dropdown"></div>
                
                <input class = "login-input" type="password" id="password" placeholder="Password">
                <input class = "login-input" type="password" id="confirm-password" placeholder="Confirm password">

                <button class = "confirm-sign" >Register</button>
            </div>
        </form>

        <% if( error ) { %>
            <span id = "alert" class = "alert"><%= error %></span>
        <% } %>
    </div>


  </main>

</body>

<%- include('../partials/commonJs'); %>  

<script src="https://bossanova.uk/jsuites/v3/jsuites.js"></script>
<script type="text/javascript" src="/js/login.js"></script>       

</html>