.chess-game-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#chess-table {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position : relative;
}

#choosePiece{
  position: absolute;
  z-index: 2;
  height: 12.5%;
  width: 62.5%;

  display: none;
  justify-content: flex-start;
  flex-direction: row;

  min-width: 24px;
  min-height: 24px;

  background-color :rgba(165, 39, 39, 0.479);
}

.chess-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;

  align-items: center;
}

.piece-square {
  min-width: 30px;
  min-height: 30px;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 80%;
  height: 80%;
}

.piece-choose{
  height: 100%;
  width: 100%;

  background-color: rgba(231, 228, 224, 0.801);
  border-left: 1px solid black;

  position : relative;
}

.piece-choose:hover{
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.last-piece-choose{
  border-right: 1px solid black;
}

.piece-square-text {
  position: absolute;
  bottom: 1px;
  right: 2px;
  font-size: 8px;
  opacity: 0.7;
  font-family: Arial;
}

.possibleMovement {
  height: 30px;
  width: 30px;
  background-color: #6d645f9c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.possibleAttack {
  width: 80%;
  border: 6px solid #6d645f9c;
	border-radius: 50%;
	display: inline-block;
  position: absolute;
  z-index: 1;
  aspect-ratio: 1;
}

.black-square .piece-square-text {
  color: #eeeed2;
}

.white-square .piece-square-text {
  color: #769656;
}

.piece-square.white-square {
  background: #eeeed2;
}

.piece-square.white-square:hover {
  background: #b4b4a1;
}

.piece-square.black-square {
  background: #6f8f4f;
}

.piece-square.black-square:hover {
  background: #52693b;
}

.piece-square:has(.piece)  {
  background: #b4b4a1;
}

.selectedPiece.black-square {
  background: #b4d307 !important;
}

.selectedPiece.white-square {
  background: #f1f152 !important;
}