<div id = "game-over">
    <div class = "game-over-container">
        <img src = "/assets/icone/cross.png" onclick = "toggleGameOverAlert();" class = "game-over-cross">
        
        <span class = "game-over-title">The game is over</span>

        <%if (locals.player.country != "default"){ %>
            <img src = '/assets/icone/player/<%= locals.player.icone %>.png' class = "game-over-account">
        <% }else{ %>
            <img src = '/assets/icone/flag/default.png' class = "game-over-account">
        <% } %>

        <span class = "game-over-winner-text">The color <span class = "game-over-winner-color">BLACK</span> win !</span>
    </div>
</div>