<div class = "player_score_container" id = "player_score_container_2">
    <img src = "/assets/icone/player/<%= locals.player2.icone %>.png" class = "player_score_image">

    <div class = "player-score-column-container">

        <div class = "player-score-row-container">
            <%if (locals.player2){ %>
                <span class = "player_nickname"><%= locals.player2.nickname %></span>
                <span>(<%= locals.player2.elo %>)</span>
            <% }else{ %>
                <span class = "player_nickname">Guest</span>
                <span>(?)</span>
            <% } %>


            <%if (locals.player2.country != "default"){ %>
                <img src = 'https://countryflagsapi.com/png/<%= locals.player2.country %>' class = "player_score_flag">
            <% }else{ %>
                <img src = '/assets/icone/flag/default.png' class = "player_score_flag">
            <% } %>
        </div>

        <div class = "player-score-row-container">
            <div class = "captured-pieces-container">
                <div id="player2-captured-pawn" ></div>
        
                <div id="player2-captured-bishop" ></div>
        
                <div id="player2-captured-knight" ></div>
        
                <div id="player2-captured-rook" ></div>
        
                <div id="player2-captured-queen" ></div>

                <span id = "player2-captured-score" class = "captured-score"></span>
            </div>
        </div>
        
    </div>    
</div>