<div class = "player_score_container">
    <img src = "/assets/temporary/pentheos-account.png" class = "player_score_image">

    <div class = "player-score-column-container">

        <div class = "player-score-row-container">
            <span>Pentheos</span>
            <span>(Player 765)</span>

            <img src = "/assets/temporary/flag.png" class = "player_score_flag">
        </div>

        <div class = "player-score-row-container">
            <div class = "captured-pieces-container">
                <div class = "captured-piece pawn-5-white"></div>
        
                <div class = "captured-piece bishop-2-white"></div>
        
                <div class = "captured-piece knight-2-white"></div>
        
                <div class = "captured-piece rook-2-white"></div>
        
                <div class = "captured-piece queen-1-white"></div>
            </div>
            <span>+5</span>
        </div>
        
    </div>

    

    

    
</div>