<div class = "player_score_container">
    <img src = {{player2_icone}} class = "player_score_image">

    <div class = "player-score-column-container">

        <div class = "player-score-row-container">
            <span>{{player2_name}}</span>
            <span>({{player2_type}} {{player2_elo}})</span>

            <img src = {{player2_flag}} class = "player_score_flag">
        </div>

        <div class = "player-score-row-container">
            <div class = "captured-pieces-container">
                <div class = "captured-piece pawn-5-white"></div>
        
                <div class = "captured-piece bishop-2-white"></div>
        
                <div class = "captured-piece knight-2-white"></div>
        
                <div class = "captured-piece rook-2-white"></div>
        
                <div class = "captured-piece queen-1-white"></div>
            </div>
            <span>+5</span>
        </div>
        
    </div>    
</div>